:root {
    --primary: rgba(18, 77, 155, 1);
    --secondary: rgba(0, 134, 255, 1);
    --textColor: rgba(167, 181, 194, 1);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}



nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 16 20 16 52; 
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
}

.logo_piper{
    margin-top: 1rem;
}

.right-section {
    width: 35%;
    display: flex;
}


.right-section .user_info{
    background-color:  rgba(241, 243, 247, 1);
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
    border-radius: 5px;
    border-top-right-radius: 6rem;
    border-bottom-right-radius: 6rem;
}
.user_info > img{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.info{
    padding-top: 8px;
}
.profile_image{
    border-radius: 5rem;
}

.bell{
    padding: 10px;
    padding-top: 16px;
}


/* Second section styling start  */

main
{
    margin-top: 6.3%;
    display: inline-block;
    width: 100%;
    height: max-content; 
    overflow: hidden;
}



.sidebar {
    position: fixed;
    display: inline-block;
    background-color: rgba(18, 77, 155, 1);
    padding: 16px;
    min-height: 100vh;
    height: max-content;
    width: 20%;
}

.dash_btn{
    width: 100%;
    padding: 20 8 20 8;
    font-size: 0.9rem;
    border-radius: 10px;
    border: 0;
    background-color: rgba(0, 134, 255, 1);
    color:white;
}

.btn_dash_all{
    position: relative;
    margin-bottom: 1rem;
}

.btn_dash_all img{
    position: absolute;
    left: 15%;
    top:25%;
}


.sidebar_menu_manage{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 8 0 8 0;
    color: rgba(255, 255, 255, 0.70);
    font-size: 12px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word
}

.sidebar_menu_manage button{
    background-color: rgba(18, 77, 155, 1);
    border: 2px solid rgba(0, 134, 255, 1);
    color: rgba(255, 255, 255, 0.70);
    font-size: 12px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
}

.yourClusters{
   display: flex;
   flex-direction: column; 
}

.select_box{
   border: 0; 
   background-color: var(--primary);
   padding: 14px 0 14px 0;
   outline: 0;
    color: white;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word
}


.sidebar_btn{
    color: var(--textColor);
    padding: 14 0  14 0;
    border-top: 1px solid var(--textColor);
    border-bottom: 1px solid var(--textColor);
}




/* right side form container */

#formSection {
    display: inline-block;
    width: 80%;
    margin-left: 20%;
    height: max-content;
}

.heading {
    padding: 12 20 12 20;
    display:  flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.left-heading{
    display: flex;
}

.left-heading-info {
    padding: 0 5 0 5;
}

.left-heading-info p{
    font-size: 14px;
        font-family: Montserrat;
        font-weight: 600;
        text-transform: uppercase;
        word-wrap: break-word
}

.left-heading-info small {
        color: #787878;
        font-size: 12px;
        font-family: Montserrat;
        font-weight: 500;
        word-wrap: break-word
}

.left-heading .p_logo{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 5px 11px 5px 11px;
    color: white;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
    word-wrap: break-word;
    background-color: rgba(18, 158, 91, 1);
    border-radius: 5px;
}



#stageSection
{
    width: 100%;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#stageSection::-webkit-scrollbar {
    display: none;
}

.stageSectionInner{
    display: flex;
    width: max-content;
}

.stage{
    width: 11rem;
    padding: 12px 0 12px 0;  
    text-align: center;  
    border: 3px solid white;
}

.stage p{
color: #797979;
    font-size: 12px;
    font-family: Montserrat;
    font-weight: 600;
    text-transform: uppercase;
    word-wrap: break-word
}

.stage small{
        color: #2F2F2F;
        font-size: 12px;
        font-family: Montserrat;
        font-weight: 400;
        word-wrap: break-word
}


.stage:hover{
    border-bottom: 3px solid var(--primary);
    cursor: pointer;
}



/* form section */

.form_title{
    width: 100%;
    background-image: linear-gradient(rgba(252, 246, 225, 1), rgba(253, 253, 253, 1));
    padding: 1rem;
    color: #2F2F2F;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    word-wrap: break-word
}

.form_title span {
    color: #FEA111;
    font-size: 12px;
    font-family: Montserrat;
    font-weight: 600;
    text-transform: uppercase;
    word-wrap: break-word;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 0.3rem;
    border-radius: 0.3rem;
}



#stage1_form > p 
{
    padding: 1.5%;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 600;
    text-transform: capitalize;
    word-wrap: break-word
}

.job_form{
    width: 97%;
    margin: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.form1{
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.input-field{
    display: flex;
    flex-direction: column;
    width: 98%;
    padding: 0.5rem;
    color: #2F2F2F;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word
}

.input-field > label{
     margin-bottom: 0.3rem;
}

.input-field > select{
   padding: 0.4rem;
   border-radius: 0.3rem;
   outline: none;
   border-color: var(--textColor);
}


/* form  */

.form2 {
    border: 2px solid rgb(222, 222, 222);
    border-radius: 0.5rem;
    width: 97%;
    margin: auto;
}

.form2_heading{
    padding: 0.5rem;
    color: #000000;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word
}


.form2_KV{
    display: grid;
    border-top: 2px solid rgb(222, 222, 222);
    border-bottom: 2px solid rgb(222, 222, 222);
    padding: 0.3rem;
    background-color: rgb(241, 252, 255);
    grid-template-columns: 1fr 1fr;
    color: black;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word
}


.form2_fields{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 3rem;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
}

.input_field_form2{
    display: flex;
    width: 100%;
    position: relative;
    padding: 0.3rem;
}

.input_field_form2 input {
    width: 100%;
    padding: 10px;
    border: 2px solid rgb(222, 222, 222);
    border-radius: 0.3rem;
}

.input_field_form2 img{
    position: absolute;
    right: 5%;
    top:25%;

}

.delete_icon{
    padding: 0.2rem;
    border: 2px solid rgb(222, 222, 222);
    margin:0.5rem;
    text-align: center;
        border-radius: 0.3rem;
}

.delete_icon:hover{
    background-color: red;
    color: white;
}

.addAnother{
    padding: 0.7rem;
    display: flex;
   justify-content: flex-end;
    color: #0086FF;
    font-size: 12px;
    font-family: Montserrat;
    font-weight: 500;
    text-transform: uppercase;
    word-wrap: break-word
}

.addAnother p:hover
{
   border-bottom: 1px solid #0086FF;   
}

.submitBtns{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    gap:1rem;
}

.submitBtns input[value="BACK"]{
    border: 2px solid rgba(211, 211, 211, 1);
    color: rgba(211, 211, 211, 1);
    padding: 0.8rem;   
    border-radius: 0.3rem;
}

.submitBtns input[value="SAVE & NEXT"]{
        background-color: rgba(0, 134, 255, 1);
        color: white;
        font-size: 12px;
        font-family: Montserrat;
        font-weight: 600;
        text-transform: uppercase;
        word-wrap: break-word;
        border:0;
        padding: 0.8rem;
        border-radius: 0.3rem;
}

.submitBtns input[value="SAVE & NEXT"]:hover{
    background-color: rgb(0, 67, 126);
}

.submitBtns input[value="SAVE & RUN PIPELINE"] {
    background-color: rgba(254, 161, 17, 1);
    color: white;
    font-size: 12px;
    font-family: Montserrat;
    font-weight: 600;
    text-transform: uppercase;
    word-wrap: break-word;
    border: 0;
    padding: 0.8rem;
    border-radius: 0.3rem;
}

.submitBtns input[value="SAVE & RUN PIPELINE"]:hover {
    background-color: rgb(162, 97, 0);
}















/* switch btn */

.swich-btn {
    display: flex;
    justify-content: space-between;
    width: 25%;
    padding-top: 0.7rem;
}


.switch-left-right .switch-label {
    overflow: hidden;
}

.switch-left-right .switch-label:before,
.switch-left-right .switch-label:after {
    width: 20px;
    height: 20px;
    top: 4px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 11px 0 0 0;
    text-indent: -12px;
    border-radius: 20px;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2), inset 0 0 3px rgba(0, 0, 0, 0.1);
}

.switch-left-right .switch-label:before {
    background: #eceeef;
    text-align: left;
    padding-left: 80px;
}

.switch-left-right .switch-label:after {
    text-align: left;
    text-indent: 9px;
    background: #FF7F50;
    left: -100px;
    opacity: 1;
    width: 100%;
}

.switch-left-right .switch-input:checked~.switch-label:before {
    opacity: 1;
    left: 100px;
}

.switch-left-right .switch-input:checked~.switch-label:after {
    left: 0;
}

.switch-left-right .switch-input:checked~.switch-label {
    background: inherit;
}



















